<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/control-panel.css" />
    <title>NeighborShop! - {% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <h1 class="title" style="color:#fff;">NeighborShop!</h1>
            </a>
        </div>
            <div class="navbar-end">
                {% block market_name %}{% endblock %}
            </div>
    </nav>
    <div class="main-content">
        <div class="columns">
            <div class="left-menu column is-2">
                <aside class="menu">
                    <p class="menu-label">
                        Panel de Control
                    </p>
                    <ul class="menu-list">
                        <li><a href="{% url 'tienda' %}">Mis productos</a></li>
                    </ul>
                    <p class="menu-label">
                        Mis productos
                    </p>
                    <ul class="menu-list">
                        <li><a href="/tienda/producto/nuevo">Agregar producto</a></li>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                        <li><a href="/logout">Cerrar sesion</a></li>
                    </ul>
                </aside>
            </div>
            <div class="products column is-6">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="statistics column is-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">Estadisticas</div>
                    </div>
                    <div class="content">
                        Estadisticas de los productos
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}{% endblock %}
</body>
</html>