{% extends '../includes/base.html' %}
{% block title %}{{user.fullname}}{% endblock title %}
{% block content %}

    <p class="all-products-title title">Todos los productos</p>
    {% if products %}
        {% for p in products %}
            <div class="product-card">
                <p class="product-name">{{p.name}}</p>
                <div class="actions">
                    <span class="icon">
                        <a href="{% url 'editar' p.id %}">
                            <i class="mdi mdi-pencil has-text-warning"></i>
                        </a>
                    </span>
                    <span class="icon">
                        <a href="{% url 'eliminar' p.id %}">
                            <i class="mdi mdi-trash-can-outline has-text-danger"></i>
                        </a>
                    </span>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p style="text-align: center;">No hay productos en tu tienda todavia</p>
    {% endif %}
{% endblock content %}