{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <title>Crea tu tienda</title>
</head>
<body>
    <section class="align-vertical">
        <p class="has-text-centered title">
            {{request.user.first_name}}, ahora crea tu tienda y mostra tus productos!</h1>
        <div class="columns is-centered">
            <div class="column is-7">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.errors}}
                    <div class="field">
                        <div class="control"><input name="name" placeholder="Nombre de tu tienda" type="text" class="input"></div>
                    </div>
                    <div class="field">
                        <div class="control"><textarea name="description" placeholder="Descripcion de tu tienda" cols="30" rows="10" class="textarea"></textarea></div>
                    </div>
                    <div class='field'>
                        <div class='control'>
                            <input name='phone_number' placeholder="Numero de telefono" type='text' class='input' />
                        </div>
                    </div>
                    <div class="field">
                        <div class="file">
                            <label class="file-label">
                              <input class="file-input" type="file" name="logo">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="mdi mdi-upload"></i>
                                </span>
                                <span class="file-label">
                                  Elegi tu logo ...
                                </span>
                              </span>
                            </label>
                          </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input href="{% url 'tienda' %}" class="button" type="submit" value="Empezar a vender!">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>