<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/global.css">
    <link rel="stylesheet" href="../../static/css/bulma.min.css">
    <title>Crea tu tienda</title>
</head>
<body>
    <section class="container has-text-centered">
        <p class="has-text-center title">Crea tu tienda y empeza a vender online!</h1>
        <div class="columns has-text-left is-centered">
            <div class="column is-5">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.errors}}
                    {{form.as_p}}
                    <input href="{% url 'tienda' %}" class="button" type="submit" value="Crear Tienda">
                </form>
            </div>
        </div>
    </section>
</body>
</html>