{% extends '../includes/control-panel.html' %}
{% block title %}Editar datos de la tienda{% endblock title %}
{% block content %}
    <h2 class='title'>Editar datos de la tienda</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class='field'>
                <label class='label'>{{field.label}}</label>
                <div class='control'>
                    {{field}}
                </div>
            </div>        
        {% endfor %}
        <input class='button' type="submit" name="submit" value="Actualizar Tienda" />
        <a class='button' href="{% url 'market' %}">Atras</a>
    </form>
{% endblock content %}