{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
</head>
<body>
    <div class="auth-form">
        <h1 class="title">Registrate</h1>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            {% for e in form.errors %}
                <div>{{e}}</div>
            {% endfor %}

            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <div class="control"><input placeholder="Nombre" name="first_name" type="text" class="input"></div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="field">
                        <div class="control"><input placeholder="Apellido" name="last_name" type="text" class="input"></div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-12">
                    <div class="field">
                        <div class="control"><input placeholder="Nombre de usuario" name="username" type="text" class="input"></div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-12">
                    <div class="field">
                        <div class="control"><input placeholder="Email" name="email" type="text" class="input"></div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <div class="control"><input placeholder="Contraseña" name="password" type="text" class="input"></div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="field">
                        <div class="control"><input placeholder="Confirmar contraseña" name="repeat-password" type="text" class="input"></div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control"><input placeholder="Telefono" name="phone_number" type="text" class="input"></div>
            </div>
            <div class="columns">
                <div class="column is-12">
                    <div class="file">
                        <label class="file-label">
                            <input type="file" class="file-input" name='image'>
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="mdi mdi-upload"></i>
                                </span>
                                <span class="file-label">Foto de perfil</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-end">
                <input class="button" type="submit" value="Registrarse" name="submit">
                <span>Ya sos usuario? <a href="{% url 'login' %}">Iniciar sesión</a></span>
            </div>
        </form>
    </div>
</body>
</html>