html { height: 100%;}

body {
    height: 100%;
    /* background-color: #dddccc; */
    background: rgb(221,219,187);
    background: linear-gradient(145deg, rgba(221,219,187,1) 4%, rgba(221,219,210,1) 49%, rgba(241,240,222,1) 100%);
}

html::-webkit-scrollbar {
    display: none;
}

.align-vertical {
    width: 60%;
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.categories-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.light-title {
    color: #fff;
}

.auth-navbar {
    background-color: transparent !important;
}

.is-fixed-top {
    transition: background-color 200ms linear;
}

.navbar-brand .navbar-item {
    background-color: transparent !important;
}

.navbar-menu .navbar-item {
    background-color: transparent !important;
}

.is-fixed-top.scrolled {
    background-color: #dddccc !important;
    transition: background-color 200ms linear;
    box-shadow: 0 -5px 10px 1px rgba(10,10,10,0.5);
}

.is-fixed-top.is-fixed-top.scrolled h1 {
    color: #000 !important;
}

.is-fixed-top.is-fixed-top.scrolled a {
    color: #000 !important;
}

.hero {
    padding-top: 100px;
}

.main-content {
    margin-top: 2em;
}

.main-content h2 {
    text-align: center;
}

section.columns {
    /* box-shadow: 0 5px 4px -7px rgba(20,20,20,0.5); */
    /* background: linear-gradient(-7deg, rgb(38,50,56) 50%, #fff 0) !important; */
}

.rounded-card {
    position: relative;
    background-color: #eee;
    border-radius: 5px;
    padding-bottom: 1em;
    box-shadow: 0 2px 2.5px 1px rgba(20,20,20,0.2);
}



.rounded-card .title {
    padding: 1em 0;
    text-align: center;
    border-radius: 4px 4px 0 0;
}
